In [31]:
from sqlalchemy import create_engine, text
import pandas as pd

db_connection_str = 'mysql+pymysql://reports:cognos@192.168.1.238/mayaprin?charset=utf8'

db_connection = create_engine(db_connection_str)

query_str = """SELECT Distinct job200.j_number, job200.j_orig,e4e.ee_hdrnum, e4e.ee_estnum, sect_text, item.itm_code,
stkitm.itm_fvals_0 AS Ancho, stkitm.itm_fvals_1 AS Alto, sum(iss.iss_value) AS iss_value, sum(iss.iss_quantity) AS iss_quantity
FROM  e4e 
INNER JOIN est2wo  ON (e4e.ee_hdrnum = est2wo.ew_hdrnum AND e4e.ee_estnum = est2wo.ew_estnum)
INNER	JOIN wo200 ON est2wo.ew_wonum = wo200.wo_number
INNER JOIN job200 ON wo200.wo_job = job200.j_number
INNER JOIN esttext ON(e4e.ee_persistid = esttext.id)
INNER JOIN wo_task200 tsk ON wo200.wo_number = tsk.tk_wonum
INNER JOIN iss ON iss.iss_task_id = tsk.tk_id
inner join itm_cls_view item ON iss.item = item.itm_code
INNER JOIN stkitm ON item.itm_code = stkitm.itm_code
WHERE esttext.sect_num = 0
AND item.itm_is_paper = 1
AND YEAR(iss.when_issued) = YEAR(CURDATE())
AND MONTH(iss.when_issued) = 9
GROUP BY  job200.j_number, job200.j_orig, e4e.ee_hdrnum, e4e.ee_estnum, item.itm_code;"""


query = pd.read_sql_query(text(query_str), con = db_connection)
query

,j_number,j_orig,ee_hdrnum,ee_estnum,sect_text,itm_code,Ancho,Alto,iss_value,iss_quantity
0,23086,VCAAL,52658,1,"{'extxt_qty': ('Cantidades:', '', 1, 0), 'bloc...",PTX28006350965OB,635.0,965.0,11582.23,7325.0
1,24006,EURLA,54392,4,"{'extxt_qty': ('Cantidades:', '', 1, 0), 'bloc...",PTX28008630685OB,863.0,685.0,407.17,300.0
2,24339,VORTIZ,54685,1,"{'packingFinOutwork': 0, 'Pricing Data': {'sta...",PPE176066001016SUN,1016.0,660.0,68367.87,14180.0
3,24774,VCAAL,55077,1,"{'extxt_qty': ('Cantidades:', '', 1, 0), 'bloc...",PTX28008630558OB,863.0,558.0,3294.75,2600.0
4,24774,VCAAL,55077,1,"{'extxt_qty': ('Cantidades:', '', 1, 0), 'bloc...",PTX28008630584OB,863.0,584.0,107566.78,101610.0
...,...,...,...,...,...,...,...,...,...,...
878,26840,VCAAL,60322,1,"{'extxt_qty': ('Cantidades:', '', 1, 0), 'bloc...",PCB11506350965,965.0,635.0,805.53,1300.0
879,26843,VCAAL,60062,1,"{'extxt_qty': ('Cantidades:', '', 1, 0), 'bloc...",PINAD6003040457,314.0,480.0,61.60,55.0
880,26845,YAREVALO,60331,1,"{'extxt_qty': ('Cantidades:', '', 1, 0), 'bloc...",PINCE22303040457SMO,304.0,457.0,24.20,10.0
881,26857,VCAAL,60121,4,"{'extxt_qty': ('Cantidades:', '', 1, 0), 'bloc...",PINCA20003040457TE12,314.0,480.0,21.96,60.0
882,26865,JSANTIZO,59487,2,"{'Pricing Data': {'status': 'Priced', 1000: [{...",PINCB11503040457COUC,314.0,480.0,17.88,130.0

In [32]:
import numpy as np
import re


columns_finishedDf = ["j_number","j_orig","ee_hdrnum","ee_estnum","itm_code","Ancho","Alto","iss_value","iss_quantity","workingWidth", "workingDepth","numberOutOfSheet"
,"imposedWidth","imposedDepth",	"Area Almacen","costo Unitario","Costoxinch2", "Area Prensa", "Area Imposicion", "Area desperdiciada", "% Area desperdiciada", "Costo Desperdicio"]

dfCostos = pd.DataFrame(columns=columns_finishedDf)
orders = list(dict.fromkeys(query["j_number"].tolist()))
for order in orders:  
    subdf1 = query.loc[query.j_number == order]
    headers = list(dict.fromkeys(subdf1["ee_hdrnum"].tolist()))
    for header in headers:        
        subdf2 = subdf1.loc[subdf1.ee_hdrnum == header]
        estimates = list(dict.fromkeys(subdf2["ee_estnum"].tolist()))
        for estimate in estimates:            
            subdf = subdf2.loc[subdf2.ee_estnum == estimate]
            dicto = subdf["sect_text"].tolist()
            matches1 = re.finditer("\'matCode\'", dicto[0])
            matches1_start = [match.start() for match in matches1]

            attributes = ("workingWidth", 'workingDepth', 'numberOutOfSheet', 'imposedWidth', 'imposedDepth')

            materials = []
            for index in matches1_start:
                materials.append(dicto[0][index:].split(":")[1].split(",")[0].replace("\'","").strip())
            subdf = subdf.loc[subdf.itm_code.isin(materials)]
            materials = subdf["itm_code"]
            total = len(subdf.index) 
            for attribute in attributes:               
                values = []                
                matches = re.finditer(attribute, dicto[0])
                matches_start = [match.start() for match in matches]            
                for x in range(len(matches_start)):                    
                    index = matches_start[x]
                    str_ = dicto[0][index:].split(":")[1].split(",")[0].replace("\'","").strip()
                    value = int(re.search(r'\d+', str_).group())
                    if(value == 0 or (value< 25 and attribute != "numberOutOfSheet")):
                        continue
                    else:
                        if(len(values) < total): 
                            values.append(value)

                subdf[attribute] = pd.to_numeric(values)


            subdf.drop(columns=["sect_text"], inplace=True)
        
            def convert_toInch(data):
                return round(data/25.4,2)

            subdf[["workingWidth", "workingDepth","imposedWidth", "imposedDepth"]] = subdf[["workingWidth", "workingDepth","imposedWidth", "imposedDepth"]].apply(convert_toInch)

            subdf[["Ancho", "Alto"]] = subdf[["Ancho", "Alto"]].apply(lambda x: round(x/25.4))

            subdf["Area Almacen"] = subdf["Ancho"] * subdf["Alto"]

            subdf["costo Unitario"] = subdf["iss_value"]/subdf["iss_quantity"]

            subdf["Costoxinch2"] = subdf["costo Unitario"]/subdf["Area Almacen"]

            subdf["Area Prensa"] = subdf["workingWidth"] * subdf["workingDepth"]

            subdf["Area Imposicion"] = subdf["imposedWidth"] * subdf["imposedDepth"]

            subdf["Area desperdiciada"] = (subdf["Area Almacen"] - (subdf["Area Prensa"] * subdf["numberOutOfSheet"])) + (subdf["Area Prensa"] - subdf["Area Imposicion"])
            
            subdf["% Area desperdiciada"] = subdf["Area desperdiciada"]/subdf["Area Almacen"]

            subdf["Costo Desperdicio"] = subdf["Area desperdiciada"] * subdf["Costoxinch2"] * subdf["numberOutOfSheet"]*subdf["iss_quantity"]



            dfCostos = dfCostos.append(subdf, ignore_index = True)

In [33]:
dfCostos

,j_number,j_orig,ee_hdrnum,ee_estnum,itm_code,Ancho,Alto,iss_value,iss_quantity,workingWidth,...,imposedWidth,imposedDepth,Area Almacen,costo Unitario,Costoxinch2,Area Prensa,Area Imposicion,Area desperdiciada,% Area desperdiciada,Costo Desperdicio
0,24006,EURLA,54392,4,PTX28008630685OB,34.0,27.0,407.17,300.0,26.77,...,26.57,16.38,918.0,1.357233,0.001478,452.1453,435.2166,30.6381,0.033375,27.178464
1,24339,VORTIZ,54685,1,PPE176066001016SUN,40.0,26.0,68367.87,14180.0,21.14,...,21.14,12.68,1040.0,4.821429,0.004636,268.0552,268.0552,503.8896,0.484509,66249.728206
2,24774,VCAAL,55077,1,PTX28008630584OB,34.0,23.0,107566.78,101610.0,33.78,...,31.50,21.81,782.0,1.058624,0.001354,770.1840,687.0150,94.9850,0.121464,13065.512274
3,24791,VCAAL,56083,1,PTX24506090812B,32.0,24.0,800.80,770.0,15.87,...,14.88,10.47,768.0,1.040000,0.001354,188.6943,155.7936,46.1235,0.060057,192.373431
4,24864,YAREVALO,56285,1,PTX22009140431OB,36.0,17.0,24103.15,32010.0,35.79,...,33.46,15.75,612.0,0.752988,0.001230,600.1983,526.9950,85.0050,0.138897,3347.856643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,26840,VCAAL,60322,1,PCB11506350965,38.0,25.0,805.53,1300.0,24.80,...,22.20,17.36,950.0,0.619638,0.000652,468.7200,385.3920,95.8880,0.100935,162.611917
838,26843,VCAAL,60062,1,PINAD6003040457,12.0,19.0,61.60,55.0,11.97,...,11.10,14.88,228.0,1.120000,0.004912,215.3403,165.1680,62.8320,0.275579,16.975663
839,26845,YAREVALO,60331,1,PINCE22303040457SMO,12.0,18.0,24.20,10.0,11.97,...,11.57,16.57,216.0,2.420000,0.011204,215.3403,191.7149,24.2851,0.112431,2.720831
840,26857,VCAAL,60121,4,PINCA20003040457TE12,12.0,19.0,21.96,60.0,12.36,...,10.79,15.12,228.0,0.366000,0.001605,233.6040,163.1448,64.8552,0.284453,6.246580
841,26865,JSANTIZO,59487,2,PINCB11503040457COUC,12.0,19.0,17.88,130.0,12.36,...,11.57,17.09,228.0,0.137538,0.000603,233.6040,197.7313,30.2687,0.132757,2.373703

In [35]:
path = "c://Users//User//Documents//Costo Desperdicios_datos.xlsx"
with pd.ExcelWriter(path) as writer:
    dfCostos.to_excel(writer, sheet_name="Datos", index = False)